{% extends "main/base.html" %}
{% load static %}

{% block title %}About - {{ block.super }}{% endblock %}
{% block jquery %}{{ block.super }}{% endblock %}

{% block content %}
{{ block.super }}
            <h2>About</h2>
            <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus in dolor auctor nulla iaculis mollis a ut leo. Donec accumsan, massa at ornare rutrum, leo arcu accumsan lorem, eget rutrum enim diam in diam. Nunc consequat vulputate ligula, aliquam laoreet turpis tempor at. Praesent consequat, sapien at tempus congue, odio purus laoreet turpis, at interdum urna ex eu turpis. Vivamus eu dignissim lorem. Cras arcu leo, viverra ut bibendum vitae, ornare in eros. Sed euismod, eros faucibus sagittis egestas, nulla velit luctus nibh, non convallis mauris turpis et metus. Duis scelerisque sapien id ex rutrum eleifend. Nam et mauris malesuada, malesuada lacus sed, porta lacus. Duis suscipit gravida augue, vel congue neque gravida non. Integer at consectetur justo, id cursus metus. Vivamus sit amet orci vitae dui consequat cursus ornare ut lorem. Aenean nisl eros, semper eget enim eu, accumsan pharetra mauris.
            </p>
            
            <h3>Rules</h3>
            <p>
            Duis id sagittis quam, at facilisis dui. Mauris ac aliquet urna. Curabitur bibendum hendrerit sapien, malesuada facilisis nibh malesuada eu. Praesent pellentesque lacus eget lectus dictum condimentum. Suspendisse potenti. Proin urna nulla, viverra quis congue sed, facilisis id mauris. Donec semper eu odio vitae sodales.
            </p>
            <p>
            Donec viverra nisi felis, eu rhoncus enim pellentesque vel. Vestibulum interdum dui in tellus volutpat, ac viverra urna condimentum. Nulla facilisi. Nullam sit amet est id purus molestie rhoncus. Maecenas venenatis in leo vitae finibus. Pellentesque molestie est ut eleifend rhoncus. Nam vehicula quis elit quis vestibulum. Nam consequat massa a lacus aliquet, id bibendum nulla tempor. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Quisque sed felis risus. Donec ut orci elit.
            </p>
            <p>
            Quisque a leo eu massa tincidunt vulputate id id dolor. Curabitur est sem, rutrum eu nunc id, commodo cursus nibh. In condimentum consectetur porta. In ut sapien at felis egestas tempus at id tortor. Curabitur auctor suscipit libero sit amet sagittis. Aenean et lacinia diam. Quisque semper enim eros, sed tincidunt sapien suscipit vitae.
            </p>
            <h3>Something else</h3>
            <p>
            Vestibulum porta auctor dui, eu malesuada dui faucibus nec. Sed sollicitudin erat id gravida vestibulum. Nulla facilisi. Vestibulum id sodales nisi. Nunc eget commodo magna. Donec vulputate semper dui id varius. Sed varius congue sem, ac dignissim purus interdum sit amet. Sed et lacinia erat. Aenean sed ex nulla.
            </p>
            <p>
            Nullam iaculis odio a arcu tempus condimentum. Nullam in accumsan purus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Fusce gravida at nunc sit amet venenatis. Aliquam pretium sapien neque, a luctus erat ultrices a. Fusce neque sem, placerat eu suscipit nec, iaculis a sapien. Aenean sit amet lacus magna. Suspendisse semper felis turpis, sit amet aliquet mi faucibus a.
            </p>
{% endblock %}