{% extends "main/base.html" %}
{% load static %}

{% block title %}Profile - {{ block.super }}{% endblock %}
{% block jquery %}{{ block.super }}{% endblock %}

{% block content %}
{{ block.super }}
            <h2>Profile</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus in dolor auctor nulla iaculis mollis a ut leo. Donec accumsan, 
                massa at ornare rutrum, leo arcu accumsan lorem, eget rutrum enim diam in diam. Nunc consequat vulputate ligula, aliquam laoreet
                turpis tempor at. Praesent consequat, sapien at tempus congue, odio purus laoreet turpis, at interdum urna ex eu turpis. Vivamus
                eu dignissim lorem. Cras arcu leo, viverra ut bibendum vitae, ornare in eros. Sed euismod, eros faucibus sagittis egestas, nulla
                velit luctus nibh, non convallis mauris turpis et metus. Duis scelerisque sapien id ex rutrum eleifend. Nam et mauris malesuada,
                malesuada lacus sed, porta lacus. Duis suscipit gravida augue, vel congue neque gravida non. Integer at consectetur justo, id cursus
                metus. Vivamus sit amet orci vitae dui consequat cursus ornare ut lorem. Aenean nisl eros, semper eget enim eu, accumsan pharetra mauris.
            </p>
{% endblock %}